canvas, #cesiumContainer{
    width: 100vw;
    height: 100vh;
    border: none; /* Optional: Removes the border around the iframe */
    overflow: hidden;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
    height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.cesium-infoBox-camera {
    display: none;
}